.contact_us {
  min-height: 100vh;
  width: 100vw;
  background: #0a0254;
  color: #fff;
  word-break: break-all;
  position: relative;
  display: flex;
  padding: 10rem 0;
  overflow-x: hidden;
  .contact_us__row {
    flex: 1;
    .contact_us__title {
      text-align: start;
      padding: 0 5em 0 0;
      font: {
        size: 3.8em;
        weight: 400;
      }
      @media screen and (max-width: 776px) {
        padding: 0 0.5em 0 0;
        margin: 1.4em 0.4em;
      }
    }
  }
  .contact_us__form-label {
    font-size: 0.8em;
  }

  .contact_us__form-control {
    margin-bottom: 1em;
    background: #0a0254;
    border-color: blue;
    border-width: 0.18em;
    color: #696493;
  }
  .contact_us__btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .contact_us__submit-btn {
      background: #2b028d;
      font-size: 0.8em;
    }
  }
  .contact_us__info-row {
    margin-top: 6em;
    .contact_us__info-col {
      margin-bottom: 1em;
      .title {
        color: red;
        font-size: 0.8em;
        margin-bottom: 0.5em;
      }
    }
  }
  .create_btn {
    position: fixed;
    bottom: 0.4em;
    font: {
      weight: Bold;
      size: 2em;
    }
    padding: 0 1em;
    color: greenyellow;
    cursor: pointer;
  }
  .edit_btn {
    position: fixed;
    bottom: 0.4em;
    font: {
      weight: Bold;
      size: 2em;
    }
    padding: 0 1em;
    color: greenyellow;
    cursor: pointer;
  }
}
::-webkit-inner-spin-button {
  display: none;
}
