.view-solutions {
  min-height: 100vh;
  width: 100vw;
  background: #2b028d;
  color: white;
  .section-head-image {
    background: url(../../../images/section_head_background.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    width: 100vw;
  }
  .main_row {
    margin: 0;
    padding: 5em;
    @media screen and (max-width: 991px) {
      padding: 0;
    }
    .titles_title {
      color: red;
      margin: 0.5em auto;
      font: {
        size: 2.7em;
      }
      @media screen and (max-width: 991px) {
        font: {
          size: 0.7em;
        }
      }
    }
  }
  .solutions_title {
    word-wrap: break-word;
    word-break: break-all;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid grey;
    padding: 1em;
    @media screen and (max-width: 991px) {
      padding: 0.7em;
    }
    @media screen and (max-width: 991px) {
      font: {
        size: 0.7em;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      margin: 0 -1em;
      width: 0.5em;
      height: 100%;
      background: red;
      display: none;
    }
    &.active {
      &::before {
        display: block;
      }
    }
  }
  .solution_card {
    .title {
      margin: 0 0 1em;
      font: {
        weight: Bold;
        size: 3em;
      }
      @media screen and (max-width: 991px) {
        margin: 1em auto;
        font: {
          size: 1.4em;
        }
      }
    }
    .view_image {
      margin: 1em auto;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
      }
      .image_text {
        position: absolute;
        top: 2em;
        padding: 0.5em 1em;
        width: 50%;
        height: 100%;
        font: {
          weight: Bold;
          size: 1.2em;
        }
        @media screen and (max-width: 776px) {
          font: {
            size: 0.4em;
          }
        }
        @media (min-width: 777px) and (max-width: 991px) {
          font: {
            size: 0.7em;
          }
        }
        @media (min-width: 992px) and (max-width: 1200px) {
          font: {
            size: 0.8em;
          }
        }
      }
    }
    display: none;
    &.active {
      display: block;
    }
    .description {
      @media screen and (max-width: 991px) {
        margin: 1em auto;
        font: {
          size: 0.7em;
        }
      }
    }
  }
  .card_tabs {
    margin: 3em 0 0;
    .card_tab {
      &.active {
        .head_line {
          opacity: 1;
        }
      }
      .head_line {
        width: 100%;
        height: 0.8em;
        background-color: red;
        opacity: 0.3;
        @media screen and (max-width: 991px) {
          height: 0.3em;
        }
      }
      .title {
        word-break: break-all;
        margin: 0.8em auto;
        cursor: pointer;
        font: {
          weight: Bold;
          size: 1.3em;
        }
        @media screen and (max-width: 776px) {
          word-wrap: break-word;

          margin: 1em auto;
          font: {
            size: 0.5em;
          }
        }
      }
      .action_btn {
        text-align: center;
        margin: 1em auto;
        &.delete_btn {
          color: #c33;
        }
        &.edit_btn {
          color: #fd2c;
        }
        cursor: pointer;
      }
    }
  }
  .solutions {
    .content {
      word-break: break-all;
      position: relative;
      .action_btn {
        text-align: center;

        &.delete_btn {
          color: #c33;
        }
        &.edit_btn {
          color: #fd2c;
        }
        cursor: pointer;
      }

      .img_col {
        @media screen and (max-width: 991px) {
          order: -1;
          margin: 1em auto;
        }
      }
      img {
        width: 100%;
      }
      .title {
        margin: 3em auto;
        font: {
          weight: Bold;
          size: 1.3em;
        }
        @media screen and (max-width: 991px) {
          margin: 0 0 1em;
          font: {
            weight: Bold;
            size: 1em;
          }
        }
      }
      .description {
        margin: 3em auto;
      }
    }
  }
}
